<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
     
   
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav" >
          
            <a class="nav-link active" routerLink="/deleteStudents" href="#">Delete Students</a>
            
          <a class="nav-link active" routerLink="/savestudent" href="#">Save Student</a>
          <a class="nav-link active" routerLink="/updatestudent" href="#">Update Student</a>
          <a class="nav-link active" routerLink="/getstudentByid" href="#">Get Student By Id</a>
          <a class="nav-link active" routerLink="/getstudentByclass" href="#">Get Students By class</a>
          
        </div>
       
      
   
           
      </div>
      </div>
    
  </nav>