<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
      <img src="https://www.bing.com/th?id=OIP.dV-VgbNdRUc46PP_y18bVQHaIo&w=231&h=269&c=8&rs=1&qlt=90&o=6&pid=3.1&rm=2 " width="100" 
      height="100" alt="book">
      
      <a class="navbar-brand" href="#">Student Management</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav" >
          <a class="nav-link active" aria-current="page"href="#">Home</a>
         
          <a class="nav-link active" routerLink="/aboutus" href="#">About Us</a>
          <a class="nav-link active" routerLink="/dashboard" href="#">DashBoard</a>
          
        </div>
       
      