


<h1>click bellow to get details of all students</h1>
  <button type="button" class="btn btn-outline-success"(click)= "searchStudents()">Details of all students</button>

  <div class="container py-5">
    <h3 class="text-center text-uppercase">List of Books</h3>
    <table class="table table-bordered table-striped">
      <thead>
        <tr class="text-center text-uppercase">
          <th>First Name</th>
          <th>Last Name</th>
          <th>Subject</th>
          <th>Student Class</th>
          <th>Date of Birth</th>
          
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let b of students;">
          <td>{{b.firstname}}</td>
          <td>{{b.lastname}}</td>
          <td>{{b.subject}}</td>
          <td>{{b.studentClass}}</td>
          <td>{{b.dateOfBirth}}</td>
          
        </tr>
      </tbody>
    </table>
  </div>